
.header-wrapper{
    width: 100%;

}

.header-logo{
    padding-top: 20px;
    padding-left: 40px;
    width: 160px;
    float: left;
}

h5{
    float : left;
    padding-left: 20px;
    line-height: 30px;
}

/*.header-right ul li{
    float: right;
}*/

.header-right{ 
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.sub-menu{
    list-style: none;
    text-align: right;
    background-size: 15px;
    padding: 0px 20px;
    background-color: blue;
}

.btn-sub-menu{
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #eeeff0;
    padding: 7px 5px 7px 20px;
}

.fas {
    margin-right: 5px;
  }
  

.corpo-menu{
    float: right;
    padding-top: 30px;
    font-size: 5px;
}

.corpo-menu p {
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
}

.menu-item{
    list-style: none;
    display: flex;

}

.menu-item li{
    font-size: 13px;
    padding: 0px 20px;
    border-right: 2px solid #999;

}

.header-menu {
    width: 100%;
    display: flex;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 0px;
    border-bottom: solid green;
}

.header-menu p{
    text-align: center;
    width: 16%;
}

.main-picture{
    margin: 0 auto;
    width: 90%;
}

.main{
    text-align: center;
}

.main-box{
    margin: 50px;
}

.main-notice{
    border: 1px solid green;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin:0 auto;
    
}

.notice{
    padding: 100px 0 150px 0; 
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.notice p::after{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 2px solid #008d61;
    border-right: 2px solid #008d61;
    transform: rotate(45deg);
}

.btn{
    padding: 40px 200px 40px 30px;
    background-color: #F3F4F4;
    font-weight: bold;
    opacity: 0.7;
}



.topix{
    padding-left: 40px;
    color: #008D61;
    font-weight: bold;
    line-height: 1.19;
}

.topix-box{
    justify-content: space-around;
    padding-left: 100px;
}


/* CSSのコメントは左右にこれ入れる　*/

.sustainability{
    position: relative;
    max-width:1000px;
    justify-content: space-between;
    display : flex;
}

.pic-sustainability{
    width: 601px;
    height: 370px;
    
}

.sus-title{
    position: absolute;
    top: 250px;
    left: 20px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.sustainability p {
    position: absolute;
    color:white;
    top: 280px;
    left: 20px;
    width: 600px;
}

.freshman p{
    position: absolute;
    top: 40px;
    left: 20px;
    width: 200px;
    color: black;
}

.fresh-title{
    font-size: larger;
    padding: 10px 0 0 20px;
}

.freshman-box{
    position: relative;
    width: 234.75px;
    height: 227px;
    background-color: #DCF0E6;
    margin: 0;
}


.textarea{
    background-color: #DCF0E6;
    width: 40%;
    height:40%;
}

.freshman {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}


.freshman-info{
    width: 234.75px;
    height: 144.34px;
    margin: 0;
    display: block;
}

.btn title{
    font-size: 20px;
}

.terumo-report{
    width: 15%;
    height: 15%;
}

.news-wrapper{
    width: 100%;
    padding-left: 50px;
}

.news-wrapper ul{
    width: 100%;
    margin: 20px;
    display : flex;
    list-style: none;
    align-items: flex-start;

}

.word-wrapper{
    width: 100%;
    padding-left: 50px;
}

.word-wrapper ul{
    width: 100%;
    margin: 20px;
    display : flex;
    list-style: none;

}

.date{
    font-weight: bold;
    font-size: smaller;

}

.material{
    width: 100px;
    padding:0px 15px;
    margin: 0 20px;
    background-color: #d3d3d3;
    color: white;
}

li p{
    font-size: 10px;

}

.other-info{
    padding: 100px 0 150px 0; 
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.other-info p::after{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 2px solid #008d61;
    border-right: 2px solid #008d61;
    transform: rotate(45deg);
}

.footer-menu {
    padding: 40px 0 80px 0 ;
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-top: 2px solid green;
}

.copyright{
    text-align: right;
    font-weight: smaller;
    padding-right: 100px;

}

.footer-menu ::after{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 2px solid #008d61;
    border-right: 2px solid #008d61;
    transform: rotate(45deg);
}

.copyright::after{
    content: '';
    font-size : smaller;
    padding : 70px 0 0 0;
    clear: both;
}